<div class="row">
  <app-text-input 
    [label]="'Tipo de Solicitud'"
    [placeholder]="'VINCULACION'"
    [description]="'Type of application'"
    [controlName]="'tipoSolicitud'"
    class="col-5"
    (setFormValue)="setValue($event.controlName, $event.value)"
  ></app-text-input>
  <app-text-input 
    [label]="'Fecha de Solicitud'"
    [placeholder]="'21/03/2024'"
    [controlName]="'fechaSolicitud'"
    [description]="'Date of application'"
    class="col-5"
    (setFormValue)="setValue($event.controlName, $event.value)"
  ></app-text-input>
</div>
