<app-subtitle [subtitle]="'datos financieros'" />
<div class="row">
  <p class="col-12">
    Valor de los Activos
  </p>
  <app-text-input [label]="'Último cierre contable'" class="col-4" />
  <app-text-input [label]="'Año anterior'" class="col-4" />
</div>
<div class="row">
  <p class="col-12">
    Valor de los pasivos
  </p>
  <app-text-input [label]="'Último cierre contable'" class="col-4" />
  <app-text-input [label]="'Año anterior'" class="col-4" />
</div>
<div class="row">
  <p class="col-12">
    Valor de patrimonio
  </p>
  <app-text-input [label]="'Último cierre contable'" class="col-4" />
  <app-text-input [label]="'Año anterior'" class="col-4" />
</div>
<div class="row">
  <p class="col-12">
    Ingresos
  </p>
  <app-text-input [label]="'Último cierre contable'" class="col-4" />
  <app-text-input [label]="'Año anterior'" class="col-4" />
</div>
<div class="row">
  <p class="col-12">
    Egresos
  </p>
  <app-text-input [label]="'Último cierre contable'" class="col-4" />
  <app-text-input [label]="'Año anterior'" class="col-4" />
</div>