<app-subtitle [subtitle]="'datos de la empresa'" />
<div class="row">
  <app-select-input
    [label]="'Razón Social'"
    class="col-3"
  />
  <app-text-input
    [label]="'NIT'"
    class="col-3"
  />
  <app-text-input
    [label]="'Dirección Empresa'"
    class="col-6"
  />
  <app-text-input
    [label]="'Ciudad donde está ubicada la empresa'"
    class="col-4"
  />
  <app-text-input
    [label]="'Teléfonos de contacto'"
    class="col-4"
  />
  <app-text-input
    [label]="'Correo electrónico'"
    class="col-4"
  />
</div>
