form {
  padding-bottom: 100px;
}

table {
  border-collapse: collapse;
  th, td {
    border: .5px solid black;
    padding: 6px;
    font-size: 12px;
    max-width: 200px;
    text-align: center;
  }
  th {
    font-size: 14px;
    font-weight: 700;
    max-width: 200px;
  }
}

.buttons-wrapper {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  
  button {
    width: 250px;
  }
}

.justify-end {
  margin-bottom: 12px;
}

.red {
  color: red;
  margin-left: -12px;
}