<app-subtitle [subtitle]="'datos del contratista'" />
<div class="row">
  <app-text-input
    [label]="'Nombres y Apellidos Completos'"
    [description]="'(tal como aparece en su documento de identidad)'"
    class="col-10"
  />
  <app-select-input
    [label]="'Tipos de documento'"
    class="col-4"
  />
  <app-text-input
    [label]="'Número de documento'"
    class="col-6"
    [description]="'Escriba el documento con el que este registrado en la cuenta bancaria que registro para el pago'"
  />
  <app-text-input
    [label]="'Numero Permiso Especial de Permanencia para el Fomento de la Formalización (PEPFF)'"
    class="col-10"
  />
  <app-select-input
    [label]="'Código Actividad Económica (CIIU)'"
    class="col-4"
  />
  <app-text-input
    [label]="'Actividad económica principal'"
    class="col-6"
  />
  <app-text-input
    [label]="'Dirección de Residencia'"
    class="col-12"
  />
  <app-text-input
    [label]="'Ciudad'"
    class="col-4"
  />
  <app-text-input
    [label]="'Departamento'"
    class="col-4"
  />
  <app-text-input
    [label]="'Celular / Teléfono de Contacto'"
    class="col-4"
  />
  <app-text-input
    [label]="'Correo Electrónico del Contratista'"
    class="col-4"
  />
</div>