@if (!loading) {
        <form [formGroup]="documentForm" (ngSubmit)="onSubmit()">
            <div class="content-row">
                <div class="content-col m-8">
                    <p class="small-p">
                        A continuación podrá cargar todos los documentos requeridos para avanzar con su proceso de contratación, si no cuenta con la totalidad de los documentos en este momento puede ir subiendolos a medida que los tenga, dando siempre GUARDAR, antes de salir de esta pantalla. Para ingresar de nuevo y continuar con la carga de documentos debe ingresar el link enviado en el mail DYNAMO-TE DAMOS LA BIENVENIDA y generar de nuevo un token de seguridad. <b>Recuerde que su contratación no se podrá realizar hasta que haya subido la totalidad de los documentos</b>
                    </p>
                </div>
                @for (doc of documents; track doc.id) {          
                  <p>
                      {{ doc.document_type }}
                  </p>
                 @if(getErrorMessage(doc.id)) {
                  <small class="error">
                    {{ getErrorMessage(doc.id) }}
                  </small>
                 } @else if(doc.id == 329) {
                  <p class="dscription">
                    (<a href="assets/docs/carta-arl.docx" download>Descargar formato</a>)
                  </p>
                 }  
                  
                  <app-filebox [formControlName]="'document_' + doc.id"></app-filebox>
                }
            </div>
            <div class="content-buttons">
                <app-black-button [name]="'enviar'" [type]="'submit'"></app-black-button>
            </div>
        </form>
}
@else {
    <div class="loader">
        <div class="custom-loader"></div>
    </div>
}
<ng-template #errorTemplate let-control="control">
    @if (fDocuments[control].getError('required') != null && fDocuments[control].touched) {
        <span class="validation-label">{{ 'Campo requerido' }}</span>
    }
</ng-template>