<app-subtitle [subtitle]="'datos de salud'"></app-subtitle>
<div class="row">
  <app-text-input [label]="'EPS'" class="col-4"></app-text-input>
  <app-text-input [label]="'Pensión'" class="col-4"></app-text-input>
  <app-text-input [label]="'Cesantias'" class="col-4"></app-text-input>
  <app-text-input [label]="'ARL'" class="col-4"></app-text-input>
  <app-text-input [label]="'Nivel de riesgo'" class="col-4"></app-text-input>
  <app-checkbox-input 
    [label]="'¿Sufre de alguna enfermedad?'" 
    class="col-12"
  />
  <app-text-input [label]="'¿Cuál(es)?'" class="col-4"></app-text-input>
  <app-checkbox-input 
    [label]="'¿Toma algún medicamento?'" 
    class="col-12"
  />
  <app-text-input [label]="'¿Cuál(es)?'" class="col-4"></app-text-input>
  <app-checkbox-input 
    [label]="'¿Sufre de alguna fobia?'" 
    class="col-12"
  />
  <app-text-input [label]="'¿Cuál(es)?'" class="col-4"></app-text-input>
  <app-checkbox-input 
    [label]="'¿Sufre de alergias?'" 
    class="col-12"
  />
  <app-text-input [label]="'¿Cuál(es)?'" class="col-4"></app-text-input>
  <app-checkbox-input 
    [label]="'¿Tiene alguna restricción alimenticia??'" 
    class="col-12"
  />
  <app-text-input [label]="'¿Cuál(es)?'" class="col-4"></app-text-input>
</div>