<div class="input-container">
	<label class="large-txt">{{ label }}</label>
  @if(control.errors && (control.dirty || control.touched)) {
    <small class="error">
      {{
        getErrors()
      }}
    </small>
  } 
  @if(!getErrors()){
    <small class="description">
      {{ description }}
    </small>
  }
	<div class="input-choose-option">
			<label><input 
        [formControl]="control"
        type="radio" 
        value="1"> Si</label>
			<label><input 
        [formControl]="control"
        type="radio" 
        value="0"
      > No</label>
	</div>
</div>

