<div class="input-container">
  <label>{{ label }}</label>
  @if(control.errors && (control.dirty || control.touched)) {
    <small class="error">
      {{
        getErrors()
      }}
    </small>
  } 
  @if(!getErrors()){
    <small class="description">
      {{ description }}
    </small>
  }
  <select
    [formControl]="control"
      name="regimen_fiscal">
      <option disabled value="">Seleccione una opción</option>
      @for (opt of options; track opt) {
          <option [value]="opt.id">{{opt.name}}</option>
      } @empty {
          <option disabled>No hay opciones para mostrar</option>
      }
  </select>
</div>