.validate-oc-info-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;

  h1 {
    color: #6D44CD;
  }

  .customized-loader {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    background-color: #FEF7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 10s linear infinite;
    
    img {
      animation: growth 1s linear infinite;
    }
  }
}

@keyframes growth {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}