<app-subtitle [subtitle]="'datos contables y fiscales'" />
<div class="row">
  <app-text-input 
    [label]="'Correo Electrónico de contador o persona a cargo de temas contables(si aplica) y si es diferente al del contratista'"
    class="col-10"
  />
  <app-checkbox-input
    [label]="'Es declarante de Impuestos de Renta'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Tienes personas dependientes a su cargo?'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Tiene un contrato de Medicina Prepagada vigente a su nombre?'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Tiene un crédito o leasing hipotecario vigente a su nombre?'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Hace aportes Voluntarios a un Fondo de Pensiones?'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Tiene cuenta AFC vigente a su nombre?'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'Es responsable de facturar IVA'"
    class="col-12"
  />
  <app-checkbox-input
    [label]="'¿Pertenece al régimen simple?'"
    class="col-12"
  />
</div>