<form [formGroup]="invoiceNaturalForm" (ngSubmit)="onSubmit()">
  <app-subtitle [subtitle]="'DOCUMENTOS PRECARGADOS'"></app-subtitle>
  <p><b>Documento Soporte</b> <a>  Ver aquí</a></p>
  <br>¿Desea adjuntar otro documento?
  @for(oc of vendorInfo.selectedOrders; track vendorInfo.selectedOrders.id) {
  <br><p><b>{{oc.consecutive_codes}}</b>  <a>Ver aquí</a></p>
  }
  <br><b>RUT</b><a>Ver aquí</a>
  <br><p>Desea actualizar el documento?  <a class="green-anchor">click aquí</a></p>
  <br><b>Anexo 1. Certificación de dependiente #1</b>
  <br><p>Desea actualizar el documento? <a class="green-anchor">click aquí</a></p>
  <app-subtitle [subtitle]="'Documentos solicitados'"></app-subtitle>

  <label>Seguridad Social*</label>
  <app-filebox [control]="getControl('socialSecurity')"></app-filebox>
  @for(anexo of getOtherAnexesControls(); track $index) {
    <label>Anexo {{$index}}*</label>
    <app-filebox [control]="anexo" [id]="'otherAnexes-' + $index"></app-filebox>
  }
  <a (click)="addNewAnexFormGroup()">+ Agregar anexo</a>
  <div class="row margin-top padding-bottom padding-bottom">
    <button mat-raised-button type="button" class="col-6 btn-gray" (click)="handlePreviousStep()">REGRESAR</button>
    <button class="col-6 btn-purpple margin-top" type="submit">Finalizar</button>
  </div>
</form>
