<form [formGroup]="invoiceNaturalForm" (ngSubmit)="onSubmit()">
  <app-subtitle [subtitle]="'DOCUMENTOS PRECARGADOS'"></app-subtitle>
  <br><b>RUT</b><a>Ver aquí</a>
  <br><p>Desea actualizar el documento?  <a class="green-anchor">click aquí</a></p>
  <br><b>Anexo 1. Certificación de dependiente #1</b>
  <br><p>Desea actualizar el documento? <a class="green-anchor">click aquí</a></p>
  <app-subtitle [subtitle]="'Documentos solicitados'"></app-subtitle>

  <label>Pago seguridad social mes vigente*</label>
  <app-filebox [control]="getControl('socialSecurity')"></app-filebox>
  @for(anexo of getOtherAnexesControls(); track $index) {
    <label>Otros Anexos*</label>
    <app-filebox [control]="anexo" [id]="'otherAnexes-' + $index"></app-filebox>
  }
  <a (click)="addNewAnexFormGroup()">+ Agregar anexo</a>
  <p class="col-12 margin-top margin-bottom">
    <b>*Si no recibe ninguna notificacion del proceso de radicación se entiende que fue exitoso.</b>
  </p>
  <div class="row margin-top padding-bottom padding-bottom">
    <button mat-raised-button type="button" class="col-6 btn-gray" (click)="handlePreviousStep()">REGRESAR</button>
    <button class="col-6 btn-purpple" type="submit">Finalizar</button>
  </div>
</form>
