<div class="oc-info-error-container">
  <div class="customized-loader">
    <img src="assets/images/fi_alert-circle.svg" alt="loader-bar" class="loader-bar">
  </div>
  <h1>LO SENTIMOS</h1>
  <p> Los datos que ingresados no concuerdan con nuestra base de datos.</p>
  <p class="support-info"> Para soporte técnico: <a>support&#64;onewrapp.com</a></p>
  <p>Para contactar al coordinador de producción: <a>coordinacionproduccion&#64;cmoproducciones.co</a></p>
  <button mat-raised-button color="primary" class="btn-purpple" (click)="goBack()">Volver a la página de inicio</button>
</div>
