<app-subtitle [subtitle]="'acuerdo de confidencialidad'" />

<div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna justo, imperdiet finibus semper eget, fermentum sed enim. Vestibulum efficitur placerat dapibus. Mauris viverra erat odio, sit amet bibendum felis fringilla eu. Praesent venenatis nec urna nec venenatis. Integer malesuada sollicitudin elit, ut mollis orci fermentum congue. Sed sit amet aliquet massa. In pellentesque sagittis est a lacinia. Proin in velit sit amet ipsum suscipit commodo. Cras tincidunt orci ac ipsum faucibus, eget semper turpis mollis. Aenean quis massa non dolor semper scelerisque eget tempor eros. Donec eleifend hendrerit libero ac varius. Integer ultrices euismod nisl at pharetra. Morbi vestibulum nibh metus, vel ullamcorper magna vehicula ac. Donec placerat nisl ac cursus scelerisque. Etiam a dui quam. Vestibulum accumsan facilisis viverra.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna justo, imperdiet finibus semper eget, fermentum sed enim. Vestibulum efficitur placerat dapibus. Mauris viverra erat odio, sit amet bibendum felis fringilla eu. Praesent venenatis nec urna nec venenatis. Integer malesuada sollicitudin elit, ut mollis orci fermentum congue. Sed sit amet aliquet massa. In pellentesque sagittis est a lacinia. Proin in velit sit amet ipsum suscipit commodo. Cras tincidunt orci ac ipsum faucibus, eget semper turpis mollis. Aenean quis massa non dolor semper scelerisque eget tempor eros. Donec eleifend hendrerit libero ac varius. Integer ultrices euismod nisl at pharetra. Morbi vestibulum nibh metus, vel ullamcorper magna vehicula ac. Donec placerat nisl ac cursus scelerisque. Etiam a dui quam. Vestibulum accumsan facilisis viverra.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam urna justo, imperdiet finibus semper eget, fermentum sed enim. Vestibulum efficitur placerat dapibus. Mauris viverra erat odio, sit amet bibendum felis fringilla eu. Praesent venenatis nec urna nec venenatis. Integer malesuada sollicitudin elit, ut mollis orci fermentum congue. Sed sit amet aliquet massa. In pellentesque sagittis est a lacinia. Proin in velit sit amet ipsum suscipit commodo. Cras tincidunt orci ac ipsum faucibus, eget semper turpis mollis. Aenean quis massa non dolor semper scelerisque eget tempor eros. Donec eleifend hendrerit libero ac varius. Integer ultrices euismod nisl at pharetra. Morbi vestibulum nibh metus, vel ullamcorper magna vehicula ac. Donec placerat nisl ac cursus scelerisque. Etiam a dui quam. Vestibulum accumsan facilisis viverra.</p>

  <p>EL RECEPTOR</p>
  <div class="row">
    <app-text-input
    [label]="'Dirección Física'"
    [control]="getControl('confidential_responsible_address')"
    class="col-4" />
    <app-text-input
      [label]="'Correo Electrónico'"
      [control]="getControl('confidential_responsible_email')"
      [type]="'email'"
      class="col-4" />
  </div>
</div>
