<app-subtitle [subtitle]="'información financiera'" />
<div class="row">
  <p class="col-12">
    Último cierre contable
  </p>
  <app-text-input [label]="'Valor de los Activos'" class="col-4" />
  <app-text-input [label]="'Valor de los pasivos'" class="col-4" />
  <app-text-input [label]="'Valor de patrimonio'" class="col-4" />
  <app-text-input [label]="'Ingresos'" class="col-4" />
  <app-text-input [label]="'Egresos'" class="col-4" />
</div>
<div class="row">
  <p class="col-12">
    Año anterior al último cierre contable
  </p>
  <app-text-input [label]="'Valor de los Activos'" class="col-4" />
  <app-text-input [label]="'Valor de los pasivos'" class="col-4" />
  <app-text-input [label]="'Valor de patrimonio'" class="col-4" />
  <app-text-input [label]="'Ingresos'" class="col-4" />
  <app-text-input [label]="'Egresos'" class="col-4" />
</div>