<form>
  <app-initial-data />
  <app-datos-empresa />
  <app-datos-representante-legal />
  <app-datos-factura-electronica />
  <app-datos-contabilidad />
  <app-datos-fiscales />
  <app-datos-tesoreria />
  <app-datos-contacto-comercial />
  <app-datos-financieros />
  <app-autorizacion-datos-personales />
  <app-personas-expuestas-politicamente />
  <app-declaracion-pep />
  <app-declaracion-sagrilaft />
  <app-acuerdo-confidencialidad />
  <app-informacion-financiera />
  <app-persona-diligencia-formulario />
  <div class="row">
    <app-black-button [name]="'enviar formulario'" class="col-4 col-start-third center-element big-gap" />
  </div>
</form>