@if(loading) {
  <div class="loader">
      <div class="custom-loader"></div>
  </div>
} 

<form [formGroup]="invoiceJuridicaForm" (ngSubmit)="onSubmit()" id="invoice-juridica-form">
  <app-subtitle [subtitle]="'DOCUMENTOS PRECARGADOS'"></app-subtitle>
  
  @if (thereArePrechargedDocs()) {
    @if (invoiceJuridicaForm.get('electronicInvoice')?.value?.url) {
      <div class="link-wrapper">
        <b><p>Factura Electrónica</p></b>
        <a [href]="invoiceJuridicaForm.get('electronicInvoice')?.value.url" target="_blank">Ver documento</a>
      </div>
    }

    @if (invoiceJuridicaForm.get('socialSecurity')?.value?.url) {
      <div class="link-wrapper">
        <b><p>Pago seguridad social mes vigente</p></b>
        <a [href]="invoiceJuridicaForm.get('socialSecurity')?.value.url" target="_blank">Ver documento</a>
      </div>
    }

    @if (invoiceJuridicaForm.get('taxAuditorCertificate')?.value?.url) {
      <div class="link-wrapper">
        <b><p>Planilla seguridad Social con Riesgo Laboral del Empleado</p></b>
        <a [href]="invoiceJuridicaForm.get('taxAuditorCertificate')?.value.url" target="_blank">Ver documento</a>
      </div>
    }

    @if (invoiceJuridicaForm.get('arlCertificate')?.value?.url) {
      <div class="link-wrapper">
        <b><p>Certificado ARL / Contratista con Vinculación</p></b>
        <a [href]="invoiceJuridicaForm.get('arlCertificate')?.value.url" target="_blank">Ver documento</a>
      </div>
    }

    @for (anexo of getOtherAnexesControls(); track $index) {
      @if (anexo.value?.url) {
        <div class="link-wrapper">
          <b><p>Anexo {{ $index + 1 }}</p></b>
          <a [href]="anexo.value.url" target="_blank">Ver documento</a>
        </div>
      }
    }
  } @else {
    <p>Todavía no hay documentos precargados para mostrar.</p>
  }

  <app-subtitle [subtitle]="'Documentos solicitados'"></app-subtitle>

  <label>Factura Electrónica*</label>
  <app-filebox [control]="invoiceJuridicaForm.get('electronicInvoice')!"></app-filebox>

  <label>Pago seguridad social mes vigente*</label>
  <app-filebox [control]="invoiceJuridicaForm.get('socialSecurity')!"></app-filebox>

  <label>Planilla seguridad Social con Riesgo Laboral del Empleado</label>
  <app-filebox [control]="invoiceJuridicaForm.get('taxAuditorCertificate')!"></app-filebox>

  <label>Certificado ARL / Contratista con Vinculación*</label>
  <app-filebox [control]="invoiceJuridicaForm.get('arlCertificate')!"></app-filebox>

  @for (anexo of getOtherAnexesControls(); track $index) {
    <div class="anexo-container">
      @if ($index > 0) {
        <button type="button" class="delete-button delete-button-anexo" (click)="deleteAnnex($index)">
          <span class="material-symbols-outlined">delete</span>
        </button>
      }
      <label>Otros Anexos*</label>
      <app-filebox [control]="anexo" [id]="'otherAnexes-' + $index"></app-filebox>
    </div>
  }
  <a (click)="addNewAnexFormGroup()">+ Agregar anexo</a>

  <div class="row margin-top padding-bottom">
    <button class="col-12 btn-purpple margin-top" type="submit">Finalizar</button>
  </div>
</form>